body {
    margin: 0%;
    padding: 0% 0%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    padding: 0% 10%;
    display: flex;
    justify-content: space-between;
}

ul {
    width: 50%;
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 5%;
    
}


.hero {
    padding: 100px 10%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.info {
    color: #1F2937;
    font-size: 18px;
    padding: 0px 20%;
    padding-bottom: 100px;
    text-align: center;
}

.facts {
    display: flex;
    gap: 5%;
}


.quote {
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
    padding: 5% 20%;
    background-color: #E5E7EB;
}

.quote-text {
    margin: 0%;

}

.quote-author {
    margin: 0%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: end;
    
}

p {
    margin-bottom: 0%;
}


.cta {
    color: #E5E7EB;
    margin: 5% 15%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
}

footer {
    padding: 1% 10%;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #3882F6;
    font-size: 18px;
}







header, .hero, .cta, footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

h1, h2, button, h4 {
    color: #F9FAF8;
}

.cta {
    background-color: #3882F6;
}

h1, h4 {
    font-size: 24px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0%;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 50px;
}



.hero-img img{
    width: 500px;
    height: auto;
}

.fact-img img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}